<div class="loader--bg">
    <div class="movable-gradient movable-gradient-2">
        <div></div>
    </div>

    <div class="movable-gradient movable-gradient-2">
        <div></div>
    </div>
</div>