<div class="loader--bg">

    <div class="movable-gradient movable-gradient-1">
        <div></div>
    </div>

    <div class="movable-gradient movable-gradient-1">
        <div></div>
    </div>

    <div class="movable-gradient movable-gradient-2">
        <div></div>
    </div>

    <div class="movable-gradient movable-gradient-3">
        <div></div>
    </div>

    <div class="movable-gradient movable-gradient-4">
        <div></div>
        <div></div>
    </div>

</div>