<div ng-app="pnlReportApp">
    <div ng-controller="pnlController">
        <h1>Timepass</h1>
        <h3>{{name}}</h3>
        <p>{{age}}</p>
        <p>{{number}}</p>
        <button ng-click="getData()" class="increment" name="submit">Click</button>
    </div>
</div>